*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$curtain: #004E92;
$white: #fff;
$black-ish: #000428;
$brown: #b2a98f;

.mother-cont{
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .coming-soon{
    min-height: 100vh;
    width: 100vw;
    padding: 2.5rem 3.25rem 0 3.25rem;
    background: transparent linear-gradient(0deg, $black-ish 0%, $curtain 100%) 0% 0% no-repeat padding-box;
    position: relative;
    overflow: hidden;
    .top-logos{
      display: flex;
      justify-content: space-between;
      img{
        width: 60px;
        height: 50px;
      }
    }
    .main-cont{
      // height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .center-part{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      img{
        width: 350px;
        height: 130px;
        margin-bottom: 10px;
      }
      h1{
        font-size: 5rem;
        color: $white;
        // margin-bottom: 0.5rem;
        letter-spacing: 5px;
        text-shadow: 0px 3px 0px $brown,0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1),0px 34px 30px rgba(0,0,0,0.1);
        font-family: 'Roboto', sans-serif;
      }
      p{
        color: rgba(255, 255, 255, 0.678);
        font-size: 1.5rem;
        letter-spacing: 4px;
        font-family: 'Roboto', sans-serif;
        // opacity: 0.7;
        span{
        color: rgba(255, 255, 255, 1);
          font-weight: 900;
          opacity: 1 !important;
        }
      }
    }
    .bottom-part{
      width: 100%;
     .bottom-cloud{
       position: absolute;
       width: 110%;
       min-height: 50%;
       bottom: -120px;
       left: -20px;
     }
     .bottom-cloud-mob{
       display: none;
     }
    }
    .planes{
      img{
        position: absolute;
      }
      .p-orange{
        top: 30%;
        right: 150px;
        height: 80px;
        width: 50px;
      }
      .p-yellow{
        top: 32%;
        left: 180px;
        height: 100px;
        width: 80px;
      }
      .p-blue{
        top: 60%;
        right: 300px;
        height: 120px;
        width: 60px;
      }
    }
  }
}

.p-orange {
  top: 30%;
  right: 150px;
  height: 80px;
  width: 50px;
  animation: anim 2s ease-in-out infinite 0.3s;

}
#oran{
  top: 80%;
 }
 #blu{
     top: 90%;
 }
 #yell{
     top: 92%;
 }
 #cloud{
     width: 110vw;
     left: -8%;
 }
@keyframes anim {
  0%{opacity:0;}
  25%{opacity:0.5;}
  50%{opacity:1;}
  75%{opacity:0.5;}
  100% {
      top:0%;
      opacity: 0;
  }
}

.p-yellow {
  top: 32%;
  left: 180px;
  height: 100px;
  width: 80px;
  animation: anim 2s ease-in-out infinite 1s;
}

.p-blue {
  top: 60%;
  right: 300px;
  height: 120px;
  width: 60px;
  animation: anim 2s ease-in-out infinite 0s;
}
.bottom-cloud{
  height: fit-content;
  transform:translateY(0%);
  animation: cloud 1.2s ease-in-out infinite 0.4s;
}
.bottom-cloud-mob{
  height: fit-content;
  transform:translateY(0%);
  animation: cloud 1.2s ease-in-out infinite 0.4s;
}
@keyframes cloud {
  50%{transform:translateX(0.6%);}
  100%{transform:translateX(0%)}
}

@media screen and (max-width:767px){
  body{
    overflow: hidden;
  }
  .mother-cont{
    overflow: hidden;
    .coming-soon{
    padding: 1.5rem 2rem 0 2rem;
    }
    .center-part{
      display: block;
      // justify-content: center !important;
      p{
        white-space: nowrap;
      }
    }
    .main-cont{
      height: 60vh;
    }
    .planes{
      height: 0 !important;
    }
  }
#coming,#soon{
   font-size: 2.5em;
}
#intro{
   font-size: 0.95em;
}
#logo {
   width:15%;
   height: 15%;
   position:flex-start;
}
#ksac{
   width: 15%;
   height: 15%;
   position: flex-end;
}
#kstar{
   width: 70%;
   height: 60%;
}
// .planes{
//    height: 40vh;
// }
#yell {
  top: 92%;
  left:5%;
  height: 60px;
  width: 40px;
  animation: anim 2s ease-in-out infinite 2s;
}
#blu{
  top: 90%;
  right:12%;
  height: 60px;
  width: 40px;
  animation: anim 2s ease-in-out infinite 0s;
}
#oran{
top: 80%;
right: 5%;
height: 40px;
width: 30px;
animation: anim 2s ease-in-out infinite 1.5s;
}

.bottom-cloud{
  display: none;
}

.bottom-cloud-mob{
  display: block !important;
  width: 110%;
  // min-height: 10vh;
  bottom: 0;
  left: 0;
  position: absolute;
  // height:auto;
}

}

.curtainContainer {
	position: absolute;
	display: flex;
	top: -10%;
	width: 100%;
	height: 110%;
	margin: auto;
	transform-style: preserve-3d;
	//background: $curtain;
	overflow: hidden;
	transition: transform 6s ease;
}

.curtainContainer:nth-child(1) {
	transform-origin: -120% top;
	justify-content: flex-start;
	transform: translatex(-5vw);
}
.curtainContainer:nth-child(2) {
	transform-origin: 120% top;
	justify-content: flex-end;
	transform: translatex(15vw);
}

.rollLeft {
	transform: translatex(-150vw) scaleX(0);
}
.rollRight {
	transform: translatex(150vw) scaleX(0);
}

// .curtainBody:hover .curtainContainer:nth-child(1) {
// 	transform: translatex(-150vw) scaleX(0);
// }
// .curtainBody:hover .curtainContainer:nth-child(2) {
// 	transform: translatex(150vw) scaleX(0);
// }

.unCurtain {
	display: inline-block;
	width: 15vw;
	margin: 0;
	padding: 0;
	height: 120vh;
	background-size: 100% 100%;
	background: repeating-linear-gradient(
		to left,
		$curtain 4vw,
		darken($curtain, 20%) 12vw,
		lighten($curtain, 20%) 15vw
	);

	transform-origin: 0 0%;
	transform: rotate(3deg);
	transition: transform 4s ease;
	animation: swing 2s ease infinite;
}

@keyframes swing {
	50% {
		transform: rotate(-3deg);
	}
}

.unCurtain:nth-child(2) {
	margin-left: -10vw;
	animation-delay: -0.1s;
}
.unCurtain:nth-child(3) {
	margin-left: -10vw;
	animation-delay: -0.2s;
}
.unCurtain:nth-child(4) {
	margin-left: -10vw;
	animation-delay: -0.3s;
}
.unCurtain:nth-child(5) {
	margin-left: -10vw;
	animation-delay: -0.4s;
}
.unCurtain:nth-child(6) {
	margin-left: -10vw;
	animation-delay: -0.5s;
}

.unCurtain:nth-child(7) {
	margin-left: -10vw;
	animation-delay: -0.6s;
}
.unCurtain:nth-child(8) {
	margin-left: -10vw;
	animation-delay: -0.7s;
}
.unCurtain:nth-child(9) {
	margin-left: -10vw;
	animation-delay: -0.8s;
}
.unCurtain:nth-child(10) {
	margin-left: -10vw;
	animation-delay: -0.9s;
}
.unCurtain:nth-child(11) {
	margin-left: -10vw;
	animation-delay: -1s;
}
.unCurtain:nth-child(12) {
	width: 10vw;
	background: repeating-linear-gradient(
		to left,
		$curtain 4vw,
		darken($curtain, 20%) 8vw,
		lighten($curtain, 20%) 10vw
	);
	margin-left: -10vw;
	animation-delay: -1.1s;
}

.curtainBody {
	display: block;
	position: absolute;
	width: 100%;
	height: 110%;
  overflow: hidden;
}

.overlay {
	display: block;
	position: absolute;
	color: white;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to top, rgba(2, 2, 2, 0) 0vh, rgb(0, 0, 0) 100vh);
	transition: opacity 3s ease;
}

@media screen and (width:768px){
  .bottom-cloud{
    bottom: -150px !important;
  }
}

@media screen and (width:1024px){
  .bottom-cloud{
    bottom: -200px !important;
  }
}