*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mother-cont{
  position: relative;
  overflow: hidden;
  height: 100vh;
  
.curtain{
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transition: 1s ease-in;
  background-color: #000428;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  .reveal{
    background-color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    transition: 0.5s ease;
    cursor: pointer;
  }
}

  .coming-soon{
    min-height: 100vh;
    width: 100vw;
    padding: 2.5rem 3.25rem 0 3.25rem;
    background: transparent linear-gradient(0deg, #000428 0%, #004E92 100%) 0% 0% no-repeat padding-box;
    position: relative;
    overflow: hidden;
    .top-logos{
      display: flex;
      justify-content: space-between;
      img{
        width: 70px;
        height: 60px;
      }
    }
    .center-part{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      img{
        width: 350px;
        height: 150px;
        margin-bottom: 10px;
      }
      h1{
        font-size: 6rem;
        color: #fff;
        margin-bottom: 0.5rem;
        letter-spacing: 15px;
        text-shadow: 0px 3px 0px #b2a98f,0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1),0px 34px 30px rgba(0,0,0,0.1);
        font-family: 'Roboto', sans-serif;
      }
      p{
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 4px;
      }
    }
    .bottom-part{
      width: 100%;
     .bottom-cloud{
       position: absolute;
       width: 110%;
       min-height: 50%;
       bottom: -120px;
       left: -20px;
     }
     .bottom-cloud-mob{
       display: none;
     }
    }
    .planes{
      img{
        position: absolute;
      }
      .p-orange{
        top: 30%;
        right: 150px;
        height: 80px;
        width: 50px;
      }
      .p-yellow{
        top: 32%;
        left: 180px;
        height: 100px;
        width: 80px;
      }
      .p-blue{
        top: 60%;
        right: 300px;
        height: 120px;
        width: 60px;
      }
    }
  }
}

.p-orange {
  top: 30%;
  right: 150px;
  height: 80px;
  width: 50px;
  animation: anim 2s ease-in-out infinite 0.3s;

}
@keyframes anim {
  0%{opacity:0;}
  25%{opacity:0.5;}
  50%{opacity:1;}
  75%{opacity:0.5;}
  100% {
      top:0%;
      opacity: 0;
  }
}

.p-yellow {
  top: 32%;
  left: 180px;
  height: 100px;
  width: 80px;
  animation: anim 2s ease-in-out infinite 0.3s;
}

.p-blue {
  top: 60%;
  right: 300px;
  height: 120px;
  width: 60px;
  animation: anim 2s ease-in-out infinite 0.3s;
}
.bottom-cloud{
  height: fit-content;
  transform:translateY(0%);
  animation: cloud 1.2s ease-in-out infinite 0.4s;
}
.bottom-cloud-mob{
  height: fit-content;
  transform:translateY(0%);
  animation: cloud 1.2s ease-in-out infinite 0.4s;
}
@keyframes cloud {
  50%{transform:translateX(0.6%);}
  100%{transform:translateX(0%)}
}

@media screen and (max-width:767px){
  .mother-cont{
    .coming-soon{
    padding: 1.5rem 2rem 0 2rem;
    }
  }
#coming,#soon{
   font-size: 2.5em;
}
#intro{
   font-size: 0.95em;
}
#logo {
   width:15%;
   height: 15%;
   position:flex-start;
}
#ksac{
   width: 15%;
   height: 15%;
   position: flex-end;
}
#kstar{
   width: 70%;
   height: 60%;
}
.planes{
   height: 40vh;
}
#yell {
  top: 32%;
  left:5%;
  height: 60px;
  width: 40px;
  animation: anim 2s ease-in-out infinite 0.5s;
}
#blu{
  top: 60%;
  right:12%;
  height: 60px;
  width: 40px;
  animation: anim 2s ease-in-out infinite 0.5s;
}
#oran{
top: 30%;
right: 5%;
height: 40px;
width: 30px;
animation: anim 2s ease-in-out infinite 0.5s;
}

.bottom-cloud{
  display: none;
}

.bottom-cloud-mob{
  display: block !important;
  width: 110%;
  min-height: 10vh;
  bottom: -25px;
  left: -20px;
  position: absolute;
  // height:auto;
}

}